@import "tailwindcss";
/* Navbar getStarted Button */

.btn-ripple {
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: all 0.5s ease-out;
}

.btn-ripple::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: rgba(0, 4, 255, 0.521);
  z-index: -1;
  transition: width 0.6s ease-out, height 0.6s ease-out, background-color 0.6s ease-out;
}

.btn-ripple:hover {
  transform: translateY(-1px);
  box-shadow: 5 14px 10px rgba(0, 0, 0, 0.2);
}

.btn-ripple:hover::before {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.322);
}

/* hero */
.hero-angular-gradient {
  background: linear-gradient(
    135deg,
    rgba(0, 59, 223, 0.185),
    rgb(255, 255, 255)
  );
  mix-blend-mode: multiply;
  transform: skewY(-8deg) scale(1.5);
  transform-origin: top left;
  position: absolute;
  top: -25%;
  left: -25%;
  height: 150%;
  width: 150%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}