@import "tailwindcss";
/* hero */
.hero-angular-gradient {
  background: linear-gradient(
    135deg,
    rgba(0, 59, 223, 0.185),
    rgb(255, 255, 255)
  );
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}